.box_events {
  margin: 0 auto;
  width: 600px;
  text-align: center;
}

.box_event {
  width: 400px;
  background: #e3e0d5;
  border-radius: 5px;
  padding: 10px 2px 6px 2px;
  margin: 10px auto;
}

.box_event img {
  display: inline-block;
  margin-right: 10px;
  width: 100px;
}
.box_event .description {
  display: inline-block;
  vertical-align: top;
  width: 270px;
  text-align: left;
  font-family: "nyt-imperial", georgia, "times new roman", times, serif;
}

.box_drop {
  width: 440px;
  height: 400px;
  background: #ddbd6c;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.box_drop:hover {
  background: #ceae5d;
}

.label {
  color: #666666;
  font-size: 16px;
  font-family: "nyt-franklin", arial, helvetica, sans-serif;
}

.box_answers {
  margin: 0 auto;
  width: 600px;
  height: 400px;
  border-radius: 5px;
  text-align: center;
  background: red;
  color: green;
  border: 1px solid blue;
}

.year {
  background: green;
  color: white;
  width: 80px;
  border-radius: 10px;
}