.progress_bar {
  margin: 10px auto;
  text-align: center;
  font-weight: 700;
  font-family: "nyt-franklin", arial, helvetica, sans-serif;
  font-size: 16px;
  color: #333;
  vertical-align: middle;
}

.correct {
  background: #5cb887;
}
.incorrect {
  background: #d25353;
}
.unanswered {
  background: #e2e0d6;
}

.active {
  border: 2px solid #6171c3;
}

.marker {
  display: inline-block;
  width: 50px;
  height: 8px;
  margin: 0 5px;
  border-radius: 5px;
  vertical-align: middle;
}

.index {
  display: inline-block;
  margin-right: 10px;
}
.points {
  display: inline-block;
  margin-left: 10px;
}
