.box_events {
  margin: 0 auto;
  width: 600px;
  text-align: center;
}

.box_event {
  width: 400px;
  background: #e3e0d5;
  border-radius: 5px;
  padding: 15px 0px 11px 0px;
  margin: 15px auto;
  user-select: none;
  color: #5b5a56;
}

.box_event .description {
  display: inline-block;
  vertical-align: top;
  width: 270px;
  text-align: left;
  font-family: "nyt-imperial", georgia, "times new roman", times, serif;
}

.box_event img {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  width: 80px;
}

.event_data {
  position: relative;
  padding: 0;
  margin-top: -20px;
}

.box_drop,
.box_drop_active {
  position: relative;
  width: 420px;
  margin: 10px auto;
  border-radius: 8px;
  height: 10px;
  color: #6171c3;
  font-weight: 700;
  font-size: 16px;
  vertical-align: middle;
}
.box_drop_active {
  background: #f4da93;
  height: 160px;
}

.label {
  color: #666666;
  font-size: 16px;
  font-family: "nyt-franklin", arial, helvetica, sans-serif;
}

.year {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: -28px;
  background: #b1aea5;
  text-align: center;
  color: white;
  padding: 4px 8px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  z-index: 100;
}

.correct {
  background: #74b68b;
}
.incorrect {
  background: #c35b57;
}
